@import "mixin";

/*         main        */
.main{
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 200px;
    overflow: hidden;
    .main_inner{
        margin: 0 auto;
        background: white;
        width: 980px;
        z-index: 10;
        overflow: hidden;
        .main_left{
            float: left;
            width: 542px;
            padding-top: 0;
            span{
                font-size: 24px;
                line-height: 25px;
                color: #d5a2a9;
                font-weight: bold;
                display: block;
                padding-top: 25px;
                a{
                    color: #4b4b4b;
                    
                }
            }
        }
        .main_right{
            float: right;
            width: 402px;
            position: relative;
            height: 458px;
            .login_bg{
                @include login;
                background: url(../images/login_fd.png);
                z-index: 100;
            }
            .login_message{
                @include login;
                z-index: 101;
                table{
                    color: #333;
                    border-collapse: collapse;
                    .text{
                        text-align: right;
                        width: 80px;
                    }
                    .input_container{
                        text-align: left;
                        a{
                            color: black;
                            text-decoration: underline;
                        }
                    }          
                    input{
                        vertical-align: middle;
                        width: 182px;
                        height: 20px;
                        line-height: 20px;
                        background: #f4f4f4;
                        border: 1px solid #acacac;
                    }
                    .spanmsg{
                        border: 1px solid #6bc7f0;
                        background: #e8f5fd;
                        color: #74797d;
                        font-weight: normal;
                        padding: 0;
                        line-height: 18px;
                        margin-top: 1px;
                        
                    }
                    #errUsername{
                        width:160px;
                        display: none;
                    }
                    #errPwd{
                        display: none;
                    }
                    #errCheckNum{
                        display: none;
                    }
                    .spanmsg2{
                        input{
                            width: 80px;
                        }
                        img{
                            vertical-align: bottom;
                            cursor: pointer;
                        }
                    }
                    .remember{
                        text-align: left;
                        float: left;
                        padding-top: 8px;
                        padding-left: 10px;
                        input{
                            height: 15px;
                            width: 20px;
                            background: #fff;
                            border: 0;
                            vertical-align: middle;
                        }
                    }
                }
                .paterners{
                    background: url(../images/login_lhdiv.jpg);
                    width:332px;
                    height: 93px;
                    float: right;
                    margin-left: 18px;
                    margin-right: 35px;
                    padding: 15px 0 0 5px;
                    li{
                        float: left;
                        padding: 0 10px;
                        vertical-align: middle;
                        height: 10px;
                        margin-bottom: 20px;
                        img{
                            vertical-align: middle;
                        }
                        a{
                            padding: 0 10px;
                            border-right: 1px solid black;
                        }
                    }
                    .no_border_li a{
                        border: 0;
                    }
                }
                .msg_div{
                    width: 345px;
                    float: right;
                    margin-right: 26px;
                }
                .register_div{
                    overflow: hidden;
                    padding-top: 10px;
                    width: 395px;
                    text-align: center;
                }
            }
        }
    }
}
